* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background-color: #313131;
    color: #fff;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

    display: flex;
    justify-content: center;
    align-items: center;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
}

.key-container {
    border: 3px double #fff;
    border-radius: 50%;
    width: 300px;
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #313131; /* match default bg used in JS */
}

.key-letter {
    font-size: 11rem;
    font-weight: bold;
}

#instruction {
    font-weight: bold;
}
