* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    height: 100vh;
    width: 100vw;
    background-color: grey;
    display: flex;
    flex-direction: column;
}

h1 {
    height: 20%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 50px;
    text-decoration: underline;
}

.clock-div {
    height: 80%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    color: white;
    font-size: 35px;
    margin-top: 20px;
}

.handle-div {
    border: 5px solid white;
    padding: 10px 35px;
    border-radius: 10px;
}

.date-div {
    margin-top: 50px;
    height: 80px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date-div span {
    margin-left: 15px;
}
