@import "tailwindcss";

@layer base {
    * {
        @apply m-0 p-0 box-border;
    }

    .inp-style {
        @apply block outline-blue-400 border-2 p-1.5 min-w-64 m-1 rounded-xl text-center font-bold;
    }

    .td-style {
        @apply border border-gray-300 px-4 py-2;
    }
}
