* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: #fff;
    font-weight: bold;
    height: 100vh;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

form {
    display: flex;
    gap: 10px;
}

input {
    width: 10rem;
    height: 2rem;
    padding: 0px 10px;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    background-color: #212121;
    border-style: none;
    outline: 1px solid white;
    color: #fff;
    border-radius: 10px;

}

#sub-btn {
    height: 2rem;
    padding: 0px 10px;
    border-radius: 10px;
    background-color: #212121;
    border-style: none;
    outline: 1px solid white;
    color: #fff;
    font-weight: bolder;
    cursor: pointer;
}

#reset-btn {
    height: 2rem;
    padding: 0px 10px;
    border-radius: 10px;
    background-color: #212121;
    border-style: none;
    outline: 1px solid white;
    color: #fff;
    font-weight: bolder;
    cursor: pointer;
}