* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #414141;
    color: #fff;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    place-items: center;
}

.wrapper {
    background-color: #000;
    border-radius: 10px;
    outline: 1px solid white;
}

.screen {
    min-width: 25rem;
    min-height: 6rem;
    font-size: 50px;
    padding-right: 25px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.button-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.buttons {
    min-width: 4rem;
    min-height: 4rem;
    background-color: #414141;
    border-radius: 10px;
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

