* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #414141;
    color: antiquewhite;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    display: grid;
    place-items: center;
    overflow: hidden;
    position: relative;
}

p {
    font-size: large;
    font-weight: 700;
    z-index: 10;
    position: relative;
}

.circle-div {
    position: absolute;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 3px solid black;
    background-color: transparent;
    transform: scale(0);
    opacity: 1;
    pointer-events: none; /* so clicks pass through */
    transition: transform 0.6s ease, opacity 0.6s ease;
}

.circle-div.grow-fade {
    transform: scale(1.5);
    opacity: 0;
}
