* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1a1a1a;
    color: #fff;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

#title {
    margin-top: 1.5rem;
    text-shadow: 2px 3px 5px rgba(256, 256, 256, 0.4);
}

.cat-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cat-image {
    margin: 1.1rem 0;
    width: 13rem;
    height: 13rem;
    border-radius: 1rem;
    box-shadow: -3px 3px 2px 1px rgb(125, 125, 125, 0.4);
    object-fit: cover;
}

#description {
    text-align: justify;
    border: 2px solid #fff;
    padding: 0.5rem;
    margin: 0.5rem 1rem;
    border-radius: 1rem;
    max-width: 35rem;
    height: auto;
}

#next-cat-btn {
    padding: 0.5rem;
    border-radius: 0.4rem;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    background-color: yellowgreen;
    transition: all 0.6s ease;
}

#next-cat-btn:hover {
    background-color: rgb(94, 119, 43);
    color: white;
}
