* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #414141;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    margin-top: 2rem;
}

h1,
h3 {
    text-align: center;
}

.panel-wrapper {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 9rem;
}

.panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.3rem;
}

.panel button {
    width: 5rem;
    height: 6rem;
    border-radius: 0.7rem;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
}

.dark-palette button {
    border-color: #fff;
}

.light-palette button {
    border-color: black;
}

.text-dark {
    color: #fff;
}

.text-light {
    color: #000;
}

@media (max-width: 468px) {
    .panel-wrapper {
        gap: 3rem;
    }

    .panel button {
        width: 4rem;
        height: 5rem;
    }
}
