* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    font-family: sans-serif;
    background: #000;
    color: #fff;
}

.content {
    padding: 4rem;
}

section {
    border: 2px solid white;
    margin: 20px 0;
    padding: 20px;
}

section h1 {
    margin: 10px 0;
}

#progress-bar {
    position: fixed;
    top: 0;
    left: 0;
    height: 5px;
    width: 0%;
    background: linear-gradient(30deg, #21d4fd, #b721ff);
    z-index: 999;
}
